<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environments</key>
	<array>
		<dict>
			<key>username</key>
			<string>admin</string>
			<key>password</key>
			<string>alzheimer</string>
			<key>server</key>
			<string>http://ec2-54-247-141-218.eu-west-1.compute.amazonaws.com/alfresco</string>
			<key>firstName</key>
			<string>Administrator</string>
			<key>testSite</key>
			<string>remoteapi</string>
			<key>testSearchFile</key>
			<string>unknown</string>
			<key>textKeyWord</key>
			<string>Nelson</string>
			<key>testAddedFolder</key>
			<string>SDKUnitTestFolder</string>
			<key>testChildFolder</key>
			<string>unknown</string>
			<key>fixedFileName</key>
			<string>versioned-quote.txt</string>
			<key>docFolder</key>
			<string>/</string>
		</dict>
		<dict>
			<key>username</key>
			<string>peter.schmidt@alfresco.com</string>
			<key>password</key>
			<string>alzheimer&quot;&quot;</string>
			<key>server</key>
			<string>http://devapis.alfresco.com</string>
			<key>isCloud</key>
			<true/>
			<key>firstName</key>
			<string>Peter</string>
			<key>testSite</key>
			<string>dev-api-test-site</string>
			<key>testSearchFile</key>
			<string>Alfresco.pptx</string>
			<key>textKeyWord</key>
			<string>Founded</string>
			<key>testAddedFolder</key>
			<string>SDKUnitTestFolder</string>
			<key>testChildFolder</key>
			<string>Sample Filesrr</string>
			<key>fixedFileName</key>
			<string>versioned-quote.txt</string>
			<key>docFolder</key>
			<string>/sites/dev-api-test-site/documentLibrary/</string>
		</dict>
	</array>
</dict>
</plist>
